<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Account</h4>
                <ul>
                    <li><a id="login-footer" href="/signin">Login/SignUp</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Accessibility</h4>
                <ul>
                    <li><a href="/about">History</a></li>
                    <li><a href="/about">Old Trafford</a></li>
                    <li><a href="/about">Legends</a></li>
                    <li><a href="/matches">Matches</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Online Shop</h4>
                <ul>
                    <li><a href="/tickets">Tickets</a></li>
                    <li><a href="/shop">Merch</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/manchesterunited"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/ManUtd"><i class="fab fa-x"></i></a>
                    <a href="http://instagram.com/manchesterunited"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/manutd"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
