<section id="header">
    <a id="navbar" href="/"><img src="/images/ManchesterUnitedLogo.png" width="80px" height="80px" class="Logo" alt="Team Logo"></a>
    <div>
        <ul id="navbar">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/Tickets">Tickets</a></li>
            <li><a href="/News">News</a></li>
            <li><a href="/Players">Players</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/signUp"><img src="/images/ProfileDefault.png" width="30px" height="30px" alt="Profile Logo"></a></li>
        </ul>
    </div>
</section>
