@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background: #eee;
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #c70101;
    z-index: 2000;
    font-family: 'Lato', sans-serif;
    transition: .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}

#sidebar.hide {
    width: 60px;
}

#sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: #FFF;
    position: sticky;
    top: 0;
    left: 0;
    background: #c70101;
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

#sidebar .brand img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 13px;
    margin-right: 20px;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

#sidebar .side-menu li.active {
    background: #eee;
    position: relative;
}

#sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 #eee;
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 #eee;
    z-index: -1;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: #c70101;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: #FFF;
    white-space: nowrap;
    overflow-x: hidden;
}

#sidebar.hide .side-menu li a {
    width: 40px;
    transition: width .3s ease;
}

#sidebar .side-menu li a .bx {
    min-width: 40px;
    display: flex;
    justify-content: center;
}




/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: .3s ease;
}

#sidebar.hide~#content {
    width: calc(100% - 60px);
    left: 60px;
}


/* NAVBAR */
#content nav {
    height: 56px;
    background: #c70101;
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: 'Lato', sans-serif;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

#content nav::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 #c70101;
}

#content nav .bx.bx-menu {
    cursor: pointer;
    color: black;
    font-size: larger;
}

#content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

#content nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

#content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: #eee;
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: #342E37;
}

#content nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: #FFF;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

#content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}




main {
    width: 100%;
    padding: 36px 24px;
    font-family: 'Poppins', sans-serif;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

.head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #222;
}

.pageSub {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.pageSub li {
    color: #222;
}

.pageSub li a {
    color: #666;
    pointer-events: none;
}

.pageSub li a.active {
    color: #007bff;
    pointer-events: unset;
}





.box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.box-info li {
    padding: 24px;
    background: #f8f9fa;
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    transition: transform 0.3s ease;
}

.box-info li:hover {
    transform: scale(1.1);

}

.box-info li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-info li:nth-child(1) .bx {
    background: #cce5ff;
    color: #007bff;
}

.box-info li:nth-child(2) .bx {
    background: #fff3cd;
    color: #ffc107;
}

.box-info li:nth-child(3) .bx {
    background: #ffe8e6;
    color: #dc3545;
}




.text h3 {
    font-size: 24px;
    font-weight: 600;
    color: #222;
}

.text p {
    color: #222;
}

.table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: #222;
}

.table-data>div {
    border-radius: 20px;
    background: #f8f9fa;
    padding: 24px;
    overflow-x: auto;
}

.head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.head .bx {
    cursor: pointer;
}


.order {
    flex-grow: 1;
    flex-basis: 500px;
}

.order table {
    width: 100%;
    border-collapse: collapse;
}

.order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid #ced4da;
}

.order table td {
    padding: 16px 0;
}

.order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.order table tbody tr:hover {
    background: #e9ecef;
}




.most-ord-pr {
    flex-grow: 1;
    flex-basis: 300px;
}

.most-ord-pr {
    width: 100%;
}

.most-ord-pr li {
    width: 100%;
    margin-bottom: 16px;
    background: #f8d7da;
    border-radius: 10px;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.most-ord-pr li .bx {
    cursor: pointer;
}


.most-ord-pr li:last-child {
    margin-bottom: 0;
}

.pimg {
    width: 100%;
    border-radius: 0.5rem;
}

.price {
    color: green;
}


.de a {
    /* transform: translateX(-1rem);
    text-align: center; */
    color: black;
}

.de a:hover {
    cursor: pointer;
    color: blue;
}

#delete a:hover {
    color: #c70101
}

.Bform {
    margin: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.booking_form {
    align-items: center;
    min-height: 70vh;
    justify-content: center;
    display: flex;
    background: none;
    background-size: cover;
}

.booking_form form {
    width: 750px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.column {
    flex: 1;
    margin-right: 250px;
}

.input {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.small-input {
    width: 70px;
}

.input input {
    padding: 10px 14px;
    border: 1px solid cornsilk;
    border-radius: 6px;
    font-size: 15px;
    margin-top: 5px;
}

.input label {
    margin-top: 7px;
    margin-bottom: 5px;
}

.input span {
    margin-top: 10px;
}

.input span i {
    margin-right: 6px;
}

.error-message {
    color: red;
    font-size: small;
}

#success-message {
    color: green;
}


form .btn {
    padding: 1rem 3rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
    background-color: #c70101;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    margin-top: 10px;
}

form .btn:hover {
    background-color: red;
    transition: 0.3s;
}


.DateOfBirth {
    margin-inline: 3px;
}

.DateOfBirth label {
    display: block;
    margin-bottom: 5px;
}

.DateOfBirth input {
    border: 1px solid #a5a5a5;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3mm;
}




@media screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }

    #content {
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {
    #content nav form .form-input input {
        display: none;
    }

    #content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
        color: #342E37;
    }

    #content nav form.show .form-input input {
        display: block;
        width: 100%;
    }

    #content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        border-radius: 0 36px 36px 0;
        color: #FFF;
        background: #DB504A;
    }

    #content nav form.show~.profile {
        display: none;
    }
}

/* modal */

.cancelbtn,
.deletebtn {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 20px;
}

.cancelbtn,
.deletebtn {
    float: left;
    width: 45%;

}


.cancelbtn {
    background-color: #ccc;
    color: black;
    margin-right: 40px;
    margin-left: 30px;
}


.deletebtn {
    background-color: #c70101;
}


.container {
    padding: 16px;
    text-align: center;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5db0;
    padding-top: 10px;
    padding-left: 300px;


}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    border-radius: 20px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}


hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media screen and (max-width: 300px) {

    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}



@media (max-width: 768px) {

    .table-data {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 4rem;
        margin-top: 24px;
        width: 100%;
        color: #222;
    }

    #productsTable th,
    td {
        padding: 4rem;
    }

    #modal-Id-products {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 4rem;
    }

    #modal-Id-tickets {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 4rem;
    }

    .booking_form form {
        width: 100%;
        /* Occupy full width of the viewport */
        padding: 20px;
        /* Adjust padding for better spacing */
    }

    .row {
        flex-direction: column;
        /* Stack columns vertically */
    }

    .column {
        margin-right: 0;
        /* Remove right margin to stack columns properly */
    }

    .input {
        width: 100%;
        /* Take full width of parent */
        margin-bottom: 20px;
        /* Add spacing between inputs */
    }

    .small-input {
        width: 100%;
        /* Adjust width for small inputs */
        margin-bottom: 10px;
        /* Add spacing between small inputs */
    }

    .btn {
        width: 100%;
        /* Button occupies full width */
        margin-top: 20px;
        /* Add space between button and inputs */
    }


}