@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

/* articleForm Screen */
*{
    font-family: 'Lato', sans-serif;
}
#articleForm #addH2 {
    color: #c70101;
    text-align: center;
    text-decoration: double;
}

#articleForm {
    width: 500px;
    background: #ffffff;
    padding: 20px 35px 35px;
    margin: 50px auto 0;
    border-radius: 3mm;
    margin-bottom: 4cm;
    margin-top: 8px;
    padding-bottom: 0.2cm;
    background: #ffffff;
    font-family: 'Lato', sans-serif;

}

#articleForm textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    resize: vertical;
    min-height: 100px;
    border-radius: 5px;
    padding: 5px;
}

#articleForm label  {
    display: block;
    margin-bottom: 5px;
}

#articleForm Input,
select {
    border: 1px solid #a5a5a5;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3mm;
    
}

#articleForm .articleRow {
    padding-bottom: 20px;
    margin: 5px;
    margin-top: 5px;
}

#articleForm .error {
    color: red;
    font-size: 90%;
}

#articleForm input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    font-family: inherit;
    background: #c70101;
    border-color: #74000000;
    box-shadow: 0 3px 0 #c40000;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 1cm;
}

#articleForm input[type="submit"]:hover {
    transition: 0.4s;
    background: #740000;
}

#articleForm .price-input {
    position: relative;
  }
  
  #articleForm  .price-input input[type="text"] {
    padding-right: 10px; /* padding for $*/
  }
  
  #articleForm .price-input .currency {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }

