

.Bform
{
    margin: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    font-family: ' Poppins' , sans-serif;
}
.booking_form
{
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  background-size: cover;
}
.booking_form form
{
    width: 700px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;

}
form .row
{
    display: flex;
    gap: 25px;
}
#column .title
{
 font-size: 200px;
 color: black;
 text-transform: uppercase;
 margin-bottom: 6px;
}
#row .column
{
    flex: 2 2 250px;
}
#column .input
{
    margin: 20px 5px;
}
.input input
{
     width: 100px;
     padding: 10px 14px;
     border: 1px solid cornsilk;
     border-radius: 6px;
     font-size: 15px;
}
.input span
{
    display: block;
    margin-top: 7px;
    margin-bottom: 10px;
}
.column .flex
{
    display: flex;
    gap: 15px;
}
.input img
{
    height : 34px;
    margin-top: 3px;

}
.flex .input
{
    margin-top: 5px;
}
form .btn
{
    padding : 1rem 3rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
    background-color:#c70101;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ;
    width: 100%;
    margin-top: 10px;
}
form .btn:hover
{
    background-color: red;
    transition: 0.3s;
}
.error 
{
    color: red;
    font-size: 90%;
}

@media (max-width: 768px) {
    .booking_form form {
      width: 70%; /* Adjust form width for smaller screens */
      padding: 20px;
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
  
    .row {
      flex-direction: column; /* Stack columns vertically */
    }
  
    .column {
      flex: 1 1 auto; /* Allow columns to take full width */
      margin-bottom: 20px;
    }
  
    .flex {
      flex-direction: column; /* Stack flex columns vertically */
    }
  
    .input {
      margin: 10px 0; /* Adjust input margins */
    }
  }