@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

/* productForm Screen */
*{
    font-family: 'Lato', sans-serif;
}
#productForm #addH2 {
    color: #c70101;
    text-align: center;
    text-decoration: double;
}

#productForm {
    width: 500px;
    background: #ffffff;
    padding: 20px 35px 35px;
    margin: 50px auto 0;
    border-radius: 3mm;
    margin-bottom: 4cm;
    margin-top: 8px;
    padding-bottom: 0.2cm;
    background: #ffffff;
    font-family: 'Lato', sans-serif;

}

#productForm label  {
    display: block;
    margin-bottom: 5px;
}

#productForm Input,
select {
    border: 1px solid #a5a5a5;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3mm;
    
}

#productForm .productRow {
    padding-bottom: 15px;
    margin: 5px;
    margin-top: 5px;
}

#productForm .error {
    color: red;
    font-size: 90%;
}

#productForm input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    font-family: inherit;
    background: #c70101;
    border-color: #74000000;
    box-shadow: 0 3px 0 #c40000;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 1rem;
}

#productForm input[type="submit"]:hover {
    transition: 0.4s;
    background: #740000;
}

#productForm .price-input {
    position: relative;
  }
  
  #productForm  .price-input input[type="text"] {
    padding-right: 10px; /* padding for $*/
  }
  
  #productForm .price-input .currency {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }

