.text-block {
    position: absolute;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.85;
}


.text-block-season {
    position:static;
    background-color: black;
    color: white;
    padding: 1.5rem;
    opacity: 0.90;
}

#hero {
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h1 {
    color: white;
    font-size: 90px;
    padding-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bookdiv
{
    background-color:#c70101;
    width: 100%;
    color: white;
    font-size: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url("Images/logo.png");
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bookdiv p
{
    color: #fff;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 1rem;
}
h2{
    margin-left: 2rem;
}
.tick-header
{
  background-color: #c70101;
  text-align: center;
  font-size: 5rem;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;

}
.tick_grid
{
  display: grid;
  gap : 2rem;
  margin-top: 4rem;
  grid-template-columns: repeat(3,1fr);
  padding-left:2rem ;
  padding-right: 2rem;
}
.tick_card
{
 overflow : hidden;
 border-radius : 1rem;
 box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
 padding-bottom: 1rem;
 padding-top: 1rem;

}
.tick_grid :hover{
    transform: scale(1.005);
    transition: 0.5s ease;
}
.tick_card_header
{
    gap : 1rem;
    margin-bottom: 0.5rem;
    display: block;
    align-items: center;
    justify-content: space-between;
}
.tick_content
{
    padding: 1rem;
}

.tick_card_header h4
{
    font-size: 1.2rem;
    font-weight: 600;
    color : var(--text-dark);

}
.tick_content p
{
    color :var(--text-light);
}
.booknow1
{
    padding : 1rem 3rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
    background-color:#c70101;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ;
    width: 100%;

}
.booknow1:hover
{
    background-color: rgb(251, 218, 29);
}





