<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Man Utd About Page</title>
    <link rel="stylesheet" href="/css/About.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    <script src="/js/API-football-data.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <%- include('../partials/header', { user: user }) %>
        <section class="about">
            <div class="about_us"
                style="background-image:linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url('Images/united4.png');">
                <div class="cont">
                    <article>
                        <h2>About Us</h2><br>
                        <content>
                            Manchester United is a football club that plays in the Premier League.
                            They play their home games at Old Trafford which is in Greater Manchester.
                            Matt Busby led the club to lots of success by using the youth players until the Munich air
                            disaster in 1958, where many United footballers and staff died.
                            Sir Alex Ferguson led the club to many titles, including the treble (Premier League, FA Cup,
                            and
                            Champions League), from 1986 to 2013, when he retired.
                            The club has 3 UEFA Champions League titles, 20 league titles, 12 FA Cups, and a FIFA Club
                            World
                            Cup.
                        </content>
                    </article>
                </div>
                <div class="history">
                    <div class="histoo">
                        <article>
                            <h2>Our History</h2><br>
                            <content>
                                Manchester United are the most successful club in England and have won 20 league titles,
                                which is more than any other team. They have also won 12 FA Cups and 3 European Cups.
                                The club started as Newton Heath L&YR F.C. in 1878.
                                All of the team worked at Lancashire and Yorkshire Railway depot at Newton Heath.
                                After nearly closing in 1902, John Henry Davies took over and changed the club's name to
                                Manchester United F.C.. Manchester United made Matt Busby their manager after World War
                                II.
                                Matt Busby used the youth team to get new players, and this was very successful.
                                The club won the Football League in 1956 and 1957.
                                The success was stopped by the Munich air disaster in 1958, when eight of the club's
                                players
                                died.
                                It was thought that the club might close, but it did not. They won the Football League
                                in
                                1965 and 1967, and the European Cup in 1968.
                            </content>
                            <div> <img id="trophiesImg" src="/Images/trophies.png"></div>
                        </article>
                    </div>

                    <div class="legend">
                        <div class="our_legends">
                            <h2> Our Legends </h2>
                        </div>
                    </div>

                    <div class="legend">
                        <div class="legend_record">
                            <img src="/Images/legend.png">
                            <p>
                                Sir Alexander Chapman Ferguson CBE (born 31 December 1941) is a Scottish former football
                                manager and player, best known for managing Manchester United from 1986 to 2013.
                                He is widely regarded as one of the greatest managers of all time and has won more
                                trophies
                                than any other manager in the history of football.
                                Ferguson is often credited for valuing youth during his time with Manchester United,
                                particularly in the 1990s with the "Class of '92", who contributed to making the club
                                one of
                                the richest and most successful in the world.
                            </p>
                        </div>

                        <div class="legend">
                            <div class="legend_record">
                                <img src="/Images/legend1.png">
                                <p>
                                    Ole Gunnar Solskjær KSO is a Norwegian professional football manager and former
                                    player.
                                    He was most recently the manager of Premier League club Manchester United. He played
                                    as
                                    a forward. As a player, Solskjaer spent the majority of his career with Manchester
                                    United
                                    and also played 67 times for the Norway national team.
                                </p>
                            </div>

                            <div class="legend">
                                <div class="legend_record">
                                    <img src="/Images/legend2.png">
                                    <p>
                                        Paul Scholes is an English football coach, pundit, former player, and co-owner
                                        of
                                        Salford City. He spent his entire professional playing career with Manchester
                                        United, for whom he scored over 150 goals in more than 700 appearances between
                                        1993
                                        and 2013.
                                    </p>
                                </div>

                                <div class="legend">
                                    <div class="legend_record">
                                        <img src="/Images/legend3.png">
                                        <p>
                                            Wayne Mark Rooney (born 24 October 1985) is an English professional football
                                            manager and former player who was most recently the manager of Birmingham
                                            City.
                                            Widely considered one of the best players of his generation, Rooney is the
                                            record goalscorer for Manchester United, and was the record goalscorer for
                                            the
                                            England national team from 2015 to 2023. He has also made more appearances
                                            for
                                            England than any other outfield player. Rooney spent most of his playing
                                            career as a forward, but was also used in various midfield roles.
                                        </p>
                                    </div>

                                    <div class="legend">
                                        <div class="legend_record">
                                            <img src="/Images/legend4.png">
                                            <p>
                                                Ryan Joseph Giggs OBE is a Welsh football coach, former player and
                                                co-owner
                                                of Salford City. Regarded as one of the greatest players of his
                                                generation,
                                                Giggs spent his entire professional career at Manchester United, where
                                                he
                                                also served as the club's interim player-manager and assistant manager
                                            </p>
                                        </div>

                                        <section class="Contact">
                                            <div id="content">
                                                <h2> Our Stadium </h2>
                                                <p>The Old Trafford became the club's home ground in 1909, and the
                                                    stadium
                                                    was constructed to a capacity of 77,000.
                                                    In the Second World War, bombings damaged the stadium. While the
                                                    stadium
                                                    was being fixed, they played "home" games at Manchester City's Maine
                                                    Road.
                                                    The stadium was converted to an all-seater stadium in 1993 for
                                                    safety
                                                    reasons, but the capacity fell to 44,000. In 1995, expansions in the
                                                    North Stand raised the capacity to 55,000.
                                                    In the middle of 1999, the East and West Stands were expanded to
                                                    give
                                                    the stadium a capacity of 67,000. Then between 2005 and 2006 8,000
                                                    more
                                                    seats were added to make a capacity of 75,000.</p>
                                            </div>
                                            <div>
                                                <h2 id="TicketText">Want to Join US in OUR next GAME?</h2><br>
                                                <a href="/Tickets" class="buttonTickets">Buy Now</a>
                                            </div>
                                            <img id="StadiumImg" src="/Images/stadium1.jpg">
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../partials/footer') %>
</body>

</html>