<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/LoginSignin.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <script src="Sigin.js"></script>
    <title>Login/SignUp</title>
    <!-- <style>
        body {
            background-image: url("Images/LoginBlur.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style> -->
  </head>

  <body>
    <%- include('../partials/header', { user: user }) %>

    <form
      id="loginForm"
      name="loginForm"
      action="/Login"
      method="POST">
      <h2>Login</h2>
      <div class="row">
        <label>Email Address</label>
        <input type="text" name="email" />
        <div class="error" id="loginEmailErr"><%= errors.email || '' %></div>
      </div>
      <div class="row">
        <label>Password</label>
        <input type="password" name="password" />
        <div class="error" id="loginPasswordErr"><%= errors.password || '' %></div>
      </div>
      <div class="row">
        <input type="submit" value="Login" />
      </div>
      <div>
        <p class="signupLoginText">Don't have an account?</p>
        <a href="/SignUp">SignUp</a>
      </div>
    </form>

    <%- include('../partials/footer') %>
  </body>
</html>
