<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/adminStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Manage Products</title>
</head>
<body>


    <!-- SIDEBAR -->
    <%- include('../partials/sidebar') %>


    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <%- include('../partials/nav') %>
       
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Products</h1>
                    <ul class="pageSub">
                       
                        <li><i class='bx bx-chevron-right' ></i></li>
                        <li>
                            <a class="active" href="Products.html">Add product</a>
                        </li>
                    </ul>
                </div>
               
            </div>
        
            <div id="modal-Id-products" class="modal">
                <span onclick="document.getElementById('modal-Id-products').style.display='none'" class="close" title="Close Modal">×</span>
                <form class="modal-content" >
                  <div class="container">
                    <h1>Delete Item</h1>
                    <p>Are you sure you want to delete this Item?</p>
                  
                    <div class="clearfix">
                      <button type="button" onclick="document.getElementById('modal-Id-products').style.display='none'" class="cancelbtn">Cancel</button>
                      <button type="button" onclick="document.getElementById('modal-Id-products').style.display='none'" class="deletebtn">Delete</button>
                      
                    </div>
                  </div>
                </form>
              </div>
        
        
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Products</h3>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Image</th>
                                <th>Price</th>
                                <th>Size</th>
                                <th>No Of Sold Pieces</th>
                                <th>Remaining Pieces</th>
                                <th>Delete</th>
                                <th>Edit</th>
                                
                            </tr>         
                        </thead> 
                            <tbody>
                                <tr>
                              <td class="pname">Man united first kit</td>
                              <td class="prim"><img src="img/product.avif" alt="error loading the image"></td>
                              <td class="pprice">$120</td>
                              <td class="psize">XL</td>
                              <td class="psold">20</td>
                              <td class="premain">40</td>
                              <td class="de" id="delete"><a onclick="document.getElementById('modal-Id-products').style.display='block'"><i class="fa-solid fa-trash"></i></a></td>
                              <td class="de" id="edit"><a href="EditProduct.html"><i class="fa-solid fa-pencil"></i></a></td>
                            </tr>


                            <tr>
                                <td>Man united first kit</td>
                                <td><img src="img/product.avif" alt="error loading the image"></td>
                                <td>$120</td>
                                <td>XL</td>
                                <td>20</td>
                                <td>40</td>
                                <td class="de" id="delete"><a onclick="document.getElementById('modal-Id-products').style.display='block'"><i class="fa-solid fa-trash"></i></a></td>
                                <td class="de" id="edit"><a href="EditProduct.html"><i class="fa-solid fa-pencil"></i></a></td>   
                            </tr>
                            <tr>
                                <td>Man united first kit</td>
                              <td><img src="img/product.avif" alt="error loading the image"></td>
                              <td>$120</td>
                              <td>XL</td>
                              <td>20</td>
                              <td>40</td>
                              <td class="de" id="delete"><a onclick="document.getElementById('modal-Id-products').style.display='block'"><i class="fa-solid fa-trash"></i></a></td>
                              <td class="de" id="edit"><a href="EditProduct.html"><i class="fa-solid fa-pencil"></i></a></td>
                                
                               
                            </tr>
                            <tr>
                                <td>Man united first kit</td>
                                <td><img src="img/product.avif" alt="error loading the image"></td>
                                <td>$120</td>
                                <td>XL</td>
                                <td>20</td>
                                <td>40</td>
                                <td class="de" id="delete"><a onclick="document.getElementById('modal-Id-products').style.display='block'"><i class="fa-solid fa-trash"></i></a></td>
                                <td class="de" id="edit"><a href="EditProduct.html"><i class="fa-solid fa-pencil"></i></a></td>
                              
                            </tr>
                            <tr>
                                <td>Man united first kit</td>
                                <td><img src="img/product.avif" alt="error loading the image"></td>
                                <td>$120</td>
                                <td>XL</td>
                                <td>20</td>
                                <td>40</td>
                                <td class="de" id="delete"><a onclick="document.getElementById('modal-Id-products').style.display='block'"><i class="fa-solid fa-trash"></i></a></td>
                                <td class="de" id="edit"><a href="EditProduct.html"><i class="fa-solid fa-pencil"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </section>
</section>

  

    <script src="script.js"></script>
</body>
</html>
