<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Man Utd</title>
    <link rel="stylesheet" href="/css/news1.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="API-football-data.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <%- include('../partials/header', { user: user }) %>

    </section>
     
     <div class ="container1">
        <div class="blog-section">
            <div class="title">
                <h2>Latest News</h2>
            </div>
            <div class="cards">
                <div class="card">
                    <div class ="image-section">
                        <img src="images/newsphoto.jpg">
                    </div>
                    <div class="content">
                        <h4>Manchester United manager Erik ten Hag says he had his summer holiday interrupted by the club.</h4>
                        <p>Ten Hag's future had been in doubt before he led United to victory in the FA Cup final, but the club have decided to keep the Dutchman in place.

                            "The club management came to me while I was on holiday in Ibiza," Ten Hag said on Dutch TV channel NOS. "They suddenly showed up on my doorstep and told me they wanted to continue with me."
                            
                            United finished eighth last season - their lowest position in the Premier League era.
                            
                            New United co-owner Sir Jim Ratcliffe is thought to have spoken to former Bayern Munich boss Thomas Tuchel but the Red Devils eventually opted to keep Ten Hag....</p>
                            <a href="/onclick">Read More</a>
                    </div>
                    <div class="posted-date">
                        <p>June 16, 2024</p>
                    </div>
                </div>


                
            </div>
        </div>
     </div>


     
    </section>
    <%- include('../partials/footer', { user: user }) %>

</body>
</html>