<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Retro Section</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/MenShop.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <title>Retro Shop</title>

    <script src="/js/script.js"></script>
    <script src="/js/API-football-data.js"></script>
  </head>
  <body>
    <%- include('../partials/header') %>

    <section id="categories">
      <div class="cat-bar">
          <ul>
            <li><a href="/MenShop">Men Shop</a></li>
            <li><a href="/WomenShop">Women Shop</a></li>
            <li><a href="/ShoppingCart"><i class="fa-solid fa-cart-shopping"></i> Cart</a></li>
          </ul>
      </div>

  </section>

    <section id="hero3">
      <div class="retro-content">
        <h4>Retro Football Elegance</h4>
        <h2>Classic Kick-Off Attire</h2>
        <p>
          Step back in time with our vintage-inspired football kits, tailored
          for enthusiasts of all ages!
        </p>
      </div>
    </section>
    <!-- section1 -->
    <section id="product-1" class="section-p1">
      <h2>Featured Products</h2>
      <p>Retro collection today</p>
      <div class="pro-container">
        <div class="pro" onclick="window.location.href='/singleProduct';">
          <img src="Images/r1.avif" alt="error loading the image" >
          <div class="des">
            <span>adidas</span>
            <h5>Man Utd 1996 Home Shirt</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
          <img src="Images/r2.avif" alt="error loading the image" />
          <div class="des">
            <span>adidas</span>
            <h5>Man Utd 1968 European Cup Final Shirt</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
          <img src="Images/r3.avif" alt="error loading the image" />
          <div class="des">
            <span>adidas</span>
            <h5>Man Utd 1994 Away Track Jacket</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
          <img src="Images/r4.avif" alt="error loading the image" />
          <div class="des">
            <span>adidas</span>
            <h5>Man Utd 1963 FA Cup Final Track Jacket</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
          <img src="Images/r5.avif" alt="error loading the image" />
          <div class="des">
            <span>adidas</span>
            <h5>Man Utd 1994 Home Shirt</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
          <img src="Images/r6.webp" alt="error loading the image" />
          <div class="des">
            <span>adidas</span>
            <h5>Man Utd 1999 FA Cup Semi-Final Shirt</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
          <img src="Images/r7.avif" alt="error loading the image" />
          <div class="des">
            <span>adidas</span>
            <h5>Man Utd 1999 Away Track Jacket</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>

        <div class="pro">
          <img src="Images/r8.avif" alt="error loading the image" />
          <div class="des">
            <span>adidas</span>
            <h5>Man Utd 1963 FA Cup Final Retro Shirt</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>

        <div class="pro">
          <img src="Images/r9.avif" alt="error loading the image" />
          <div class="des">
            <span>adidas</span>
            <h5>Man Utd 1909 Retro Shirt</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>

        <div class="pro">
          <img src="Images/r10.avif" alt="error loading the image" />
          <div class="des">
            <span>adidas</span>
            <h5>Man Utd 1999 Champions League Final Shirt</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>

        <div class="pro">
          <img src="Images/r11.avif" alt="error loading the image" />
          <div class="des">
            <span>adidas</span>
            <h5>Man Utd 1999 Shirt</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>

        <div class="pro">
          <img src="Images/r12.avif" alt="error loading the image" />
          <div class="des">
            <span>adidas</span>
            <h5>Man Utd 1968 European Cup Final Track Jacket</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
      </div>
    </section>

    <!-- footer  -->
    <%- include('../partials/footer') %>
  </body>
</html>
