<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/ShoppingCart.css">
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="/js/ShoppingCart.js"></script>
</head>

<body>
    <%- include('../partials/header') %>
    <section id="banner">
        <div class="banner-content">
            <h1>#Shopping Cart</h1>
        </div>

    </section>

    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="Images/f1.avif" alt="error loading the image"></td>
                    <td>T-shirts</td>
                    <td>$118</td>
                    <td><input class="quantity" type="number" value="1" min="1" max="99"></td>
                    <td>$451</td>
                </tr>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="Images/1st.avif" alt="error loading the image"></td>
                    <td>T-shirts</td>
                    <td>$118</td>
                    <td><input class="quantity" type="number" value="1" min="1" max="99"></td>
                    <td>$451</td>

                </tr>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="Images/w18.avif" alt="error loading the image"></td>
                    <td>T-shirts</td>
                    <td>$118</td>
                    <td><input class="quantity" type="number" value="1" min="1" max="99">
                        <div id="errorText" style="display: none;">
                            Out Of Stock
                        </div>
                    </td>
                    <td>$451</td>
                </tr>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="Images/f4.avif" alt="error loading the image"></td>
                    <td>T-shirts</td>
                    <td>$118</td>
                    <td><input class="quantity" type="number" value="1" min="1" max="99"></td>
                    <td>$451</td>

                </tr>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle" id="remIcon"></i></a></td>
                    <td><img src="Images/w11.webp" alt="error loading the image"></td>
                    <td>T-shirts</td>
                    <td>$118</td>
                    <td><input class="quantity" type="number" value="1" min="1" max="99"  width="2ch"></td>
                    <td>$451</td>

                </tr>
            </tbody>

        </table>
    </section>

    <section id="cart-add" class="section-p1">
   

        <div id="Subtotal">
            <h3>Cart Total</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td>$9678</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>Total $9678</strong></td>
                </tr>
            </table>
            <div id="eText" style="display: none;">
                Failed!
            </div>
            <button id="checkout-btn" onclick=validateAndProceed();>Proceed to checkout</button>
        </div>
    </section>

    <%- include('../partials/footer') %>

   
</body>

</html>
