<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Product Details</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/MenShop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<script src="/js/singleProduct.js"></script>
<body>
    <%- include('../partials/header') %>

    <section id="proDetails" class="section-p1">
        <div class="single-pro-image">

            <img src="Images/1st.avif" alt="error loading the image" width="100%" id="MainImg">
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="Images/1st.avif" width="100%" alt="error loading the image" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="Images/1sttt.avif" width="100%" alt="error loading the image" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="Images/1stttt.avif" width="100%" alt="error loading the image" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="Images/1sttttt.jpg" width="100%" alt="error loading the image" class="small-img">
                </div>
    </div>
</div>

<div class="single-pro-details">

    <h5>Home / T-Shirt</h5>
    <h4>Men's Fashion T-Shirt</h4>
    <h2>$120</h2>
    <select id="borderred" class="sel">
        <option >Select Size</option>
        <option >Small</option>
        <option >Medium</option>
        <option >Large</option>
        <option >XL</option>
        <option >XXL</option>
    </select>
    <input type="number" id="numberInput" value="1" min="0">
    <button onclick="validateInput();">Add To Cart</button>
    <div class="errorMessage" style="display: none; color: red;">
       
    </div>
    <div class="successMessage" style="display: none; color: green;">
        Items are added successfully!
    </div>
    <h4>Product Details</h4>
    <span>This is the main man united shirt with the red  color</span>
</div>
</section>
<hr>

<section id="product-1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Men collection today</p>
    <div class="pro-container">
        <div class="pro" onclick="window.location.href='singleProduct.html';">
            <img src="Images/t11.avif" alt="error loading the image">
            <div class="des">

                <span>adidas</span>
                <h5>tshirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart" ></i></a>

        </div>

        <div class="pro">
            <img src="Images/secKittt.avif" alt="error loading the image">
            <div class="des">

                <span>adidas</span>
                <h5>tshirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart "></i></a>

        </div>
        <div class="pro">
            <img src="Images/thrdKit.avif" alt="error loading the image">
            <div class="des">

                <span>adidas</span>
                <h5>tshirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>

        </div>
        <div class="pro">
            <img src="Images/GKF.avif" alt="error loading the image">
            <div class="des">

                <span>adidas</span>
                <h5>tshirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>

        </div>
       
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>

        </div>


    </div>
</section>


    <!-- footer  -->
    <%- include('../partials/footer') %>

<script>
    
</script>

</body>
</html>