<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Man Utd Tickets</title>
    <link rel="stylesheet" href="/css/Tickets.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="/js/script.js"></script>
    <script src="/js/API-football-data.js"></script>
</head>

<body>

    <%- include('../partials/header') %>

    <section id="hero">
        <h1>TICKETS</h1>
    </section>

    <section class="booknow">
        <div class="bookdiv">
           <h1><span><i class="ri-coupon-fill"></i></span> BOOK NOW</h1>
           <p> For the chance to join the Executive Club and watch every home game in style , Join Us and Book Your Ticket.</p>
        </div>
    </section>
    
      <section class = "tick_container" >
           <h2 class="tick-header">Next Matches</h2>

            <div class="tick_grid">
                <div class = "tick_card">
                    <img src="Images/stadium.png" alt="Manchester United">
                    <div class="tick_content">
                        <div class="tick_card_header">
                            <h5>Football - First Team - Male</h5>
                            <h2>Premier League</h2>
                            <hr>
                             <h4> Stadium : Emirates stadium</h4>
                            <h4> Against : Arsenal</h4>
                            <h4> Standard : from $150</h4>
                        </div>
                        <p> At : Sunday, May 12 6:30 PM</p>
                        <a href="BuyPage.html">
                            <button class ="booknow1">Buy Tickets</button>
                        </a>
                    </div>
                </div>

                <div class = "tick_card">
                    <img src="Images/stadium.png" alt="Manchester United">
                    <div class="tick_content">
                        <div class="tick_card_header">
                            <h5>Football - First Team - Male</h5>
                            <h2>Premier League</h2>
                            <hr>
                             <h4>Stadium :  Old Trafford</h4>
                             <h4>Against : Crystal Palace</h4>                       
                             <h4> Premium :  from $425</h4>
                        </div> 
                        <p> At : Monday, May 6 10:00 PM</p>
                        <a href="BuyPage.html">
                            <button class ="booknow1">Buy Tickets</button>
                        </a>
                    </div>
                </div>

                <div class = "tick_card">
                    <img src="Images/stadium.png" alt="Manchester United">                
                    <div class="tick_content">
                        <div class="tick_card_header">
                            <h5>Football - First Team - Male</h5>
                            <h2>Premier League</h2>
                            <hr>
                             <h4> Stadium : St James' Park</h4>
                            <h4>  Against : Newcastle United</h4>
                           
                             <h4> VIP :  from $350</h4>
                        </div>
                        <p> At : Wednesday, May 15 10:00 PM</p>
                        <a href="BuyPage.html">
                            <button class ="booknow1">Buy Tickets</button>
                        </a>
                    </div>
                </div>
                <div class = "tick_card">
                    <img src="Images/stadium.png" alt="Manchester United">
                    <div class="tick_content">
                        <div class="tick_card_header">
                            <h5>Football - First Team - Male</h5>
                            <h2>Premier League</h2>
                            <hr>
                             <h4> Stadium : Old Trafford</h4>
                            <h4> Against : Brighton</h4>
                           
                             <h4> VIP :  from $525</h4>
                        </div>
                        <p> At : Sunday, May 19 6:00 PM</p>
                        <a href="BuyPage.html">
                            <button class ="booknow1">Buy Tickets</button>
                        </a>
                    </div>
                </div>
                 
                <div class = "tick_card">
                    <img  src="Images/stadium.png" alt="Manchester United">
                    <div class="tick_content">
                        <div class="tick_card_header">
                            <h5>Football - First Team - Male</h5>
                            <h2>FA CUP-Final Round</h2>
                            <hr>
                             <h4> Stadium :  Etihad Stadium</h4>
                             <h4> Against : Manchester City</h4>
                            
                             <h4> Premium :  from $450</h4>
                              
                        </div>
                        <p> At : Saturday, May 25 5:00 PM</p>
                        <a href="BuyPage.html">
                            <button class ="booknow1">Buy Tickets</button>
                        </a>
                    </div>
                </div>

                <div class = "tick_card">
                    <img src="Images/stadium.png" alt="Manchester United">
                    <div class="tick_content">
                        <div class="tick_card_header">
                            <h5>Football - First Team - Male</h5>
                            <h2>Friendly Match</h2>
                            <hr>
                             <h4> Stadium : Old Trafford</h4>
                             <h4> Against : Rosenborg</h4>
                             <h4> Standard : from $150</h4>
                            
                        </div>
                        <p> At : Monday, Jul 15 7:00 PM</p>
                        <a href="BuyPage.html">
                            <button class ="booknow1">Buy Tickets</button>
                        </a>
                    </div>
                </div>

                <div class = "tick_card">
                    <img src="Images/stadium.png" alt="Manchester United">
                    <div class="tick_content">
                        <div class="tick_card_header">
                            <h5>Football - First Team - Male</h5>
                            <h2>Friendly Match</h2>
                            <hr>
                             <h4> Stadium : Old Trafford</h4>
                             <h4> Against : Rangers</h4>
                             <h4> Standard : from $250</h4>
                            
                        </div>
                        <p> At : Saturday, Jul 20 6:00 PM</p>
                        <a href="BuyPage.html">
                            <button class ="booknow1">Buy Tickets</button>
                        </a>
                    </div>
                </div>

                <div class = "tick_card">
                    <img  src="Images/stadium.png" alt="Manchester United">
                    <div class="tick_content">
                        <div class="tick_card_header">
                            <h5>Football - First Team - Male</h5>
                            <h2>Friendly Match</h2>
                            <hr>
                             <h4> Stadium :  Emirates Stadium</h4>
                             <h4> Against : Arsenal</h4>
                            
                             <h4> Premium :  from $650</h4>
                              
                        </div>
                        <p> At : Sunday, Jul 28 3:00 AM</p>
                        <a href="BuyPage.html">
                            <button class ="booknow1">Buy Tickets</button>
                        </a>
                    </div>
                </div>

                <div class = "tick_card">
                    <img src="Images/stadium.png" alt="Manchester United">
                    <div class="tick_content">
                        <div class="tick_card_header">
                            <h5>Football - First Team - Male</h5>
                            <h2>Friendly Match</h2>
                            <hr>
                             <h4> Stadium : Old Trafford</h4>
                             <h4> Against : Real Betis</h4>
                             <h4> Standard : from $50</h4>
                           
                        </div>
                        <p> At : Thursday, Aug 1 7:00 AM</p>
                        <a href="BuyPage.html">
                            <button class ="booknow1">Buy Tickets</button>
                        </a>
                    </div>
                </div>
            </div>
      </section>

         <section class="fans">
            <div class="sec_conatiner">
                <h2 class ="header">Fans Comments</h2> 

                <div class="fangrid">
                    <div class="fan_feedbackcard">
                        <img src="Images/image.png">
                     <p>
                        "John Smith": "I'm confident that Manchester United will bounce back stronger than ever. We've overcome tough times in the past, and this is just another chapter in our storied history."
                     </p>
                   </div>
                   <div class="fan_feedbackcard">
                     <img src="Images/image.png">
                     <p>
                        "Emma Johnson": "Despite the recent setbacks, I still believe in the talent and potential of our squad. With the right mindset and determination, we can achieve great things together."
                     </p>
                   </div>

                    <div class="fan_feedbackcard">
                        <img src="Images/image.png">
                         <p>
                         "Rebecca White": "Even in tough times, supporting Manchester United brings joy and excitement to my life. It's a privilege to be part of such a storied club with a global fanbase."
                         </p>
                    </div>
               </div>
               </div>
           </div>      
        </section>

        <%- include('../partials/footer') %>
  </body>
</html>