<!DOCTYPE html>
<html lang="en">
<head>
    <title>Women's Section</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/MenShop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Man Utd</title>
   
    <script src="/js/script.js"></script>
    <script src="/js/API-football-data.js"></script>
</head>
<body>

    <%- include('../partials/header') %>
    
    
    <section id="categories">
        <div class="cat-bar">
            <ul>
                <li><a href="#product-1">Football Kits</a></li>
                <li><a href="#product-2">Training</a></li>
                <li><a href="#product-3">Hoodies and Sweatshirts</a></li>
                <li><a href="#product-4">Trousers and Shorts</a></li>
                <li><a href="#product-5">Footwear</a></li>
                <li><a href="#product-6">Headwear</a></li>
                <li><a href="/MenShop">Men Shop</a></li>
                <li><a href="/RetroShop">Retro Shop</a></li>
                <li><a href="/ShoppingCart"><i class="fa-solid fa-cart-shopping"></i> Cart</a></li>
                
              </ul>
        </div>

    </section>
    
    
    


    <section id="hero2">S
        <div class="women-content">
            <h4>Striking Soccer Style</h4>
            <h2>Empowerment Uniforms</h2>
            <p>Raise the bar with high-quality football attire, crafted for today's female athletes!</p>
        </div>
       
       

    </section>
<!-- section1 -->
    <section id="product-1" class="section-p1">
        <h2>Football Kits</h2>
        <p>Women's Collection Today</p>
        <div class="pro-container">
            <div class="pro" onclick="window.location.href='/singleProduct';">
                <img src="Images/w1.jpg" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>Man united Rahford Home kit women edition</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$120</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart" ></i></a>

            </div>

            <div class="pro">
                <img src="Images/w2.avif" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>Man united Shaw away kit women edition</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$110</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart"></i></a>

            </div>
            <div class="pro">
                <img src="Images/w3.avif" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>Man united Rahford third kit women edition</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$110</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart"></i></a>

            </div>
            <div class="pro">
                <img src="Images/w4.webp" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>Man united Third citron color</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$80</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart"></i></a>

            </div>
        </div>
    </section>
    <hr>
    <br>
<!-- section2 -->
    <section id="product-2" class="section-p1">
        <h2> Training</h2>
        <p>Women's Collection Today</p>
        <div class="pro-container">
            <div class="pro">
                <img src="Images/w9.avif" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>Adidas Man utd training jacket </h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart" ></i></a>

            </div>

            <div class="pro">
                <img src="Images/w10.avif" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>Tezos green training shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$80</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart"></i></a>

            </div>
            <div class="pro">
                <img src="Images/w11.webp" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>Adidas Black training jacket with blue stripes</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$70</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart"></i></a>

            </div>
            <div class="pro">
                <img src="Images/w12.avif" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>Tezos white training shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$70</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart"></i></a>

            </div>
            

        </div>
    </section>
    <hr>
    <br>

<!-- section3 -->
<section id="product-3" class="section-p1">
    <h2>Hoodies and Sweatshirts</h2>
    <p>Women's Collection Today</p>
    <div class="pro-container">
        <div class="pro">
            <img src="Images/w17.avif" alt="error loading the image">
            <div class="des">

                <span>adidas</span>
                <h5>Man utd pink hoodie</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$210</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart " ></i></a>

        </div>

        <div class="pro">
            <img src="Images/w18.avif" alt="error loading the image">
            <div class="des">

                <span>adidas</span>
                <h5>Man utd black hoodie</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$190</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>

        </div>
        <div class="pro">
            <img src="Images/w19.avif" alt="error loading the image">
            <div class="des">

                <span>adidas</span>
                <h5>Adidas Navy pullover</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$100</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>

        </div>
        <div class="pro">
            <img src="Images/w20.avif" alt="error loading the image">
            <div class="des">

                <span>adidas</span>
                <h5>Waterproof jacket</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$99</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>

        </div>
      

    </div>
</section>
<hr>
<br>



<!-- section4 -->
    <section id="product-4" class="section-p1">
        <h2>Trousers and Shorts</h2>
        <p>Women's Collection Today</p>
        <div class="pro-container">
            <div class="pro">
                <img src="Images/w25.avif" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>Adidas Pink Trousers</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$70</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart" ></i></a>

            </div>

            <div class="pro">
                <img src="Images/w26.avif" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>Man utd Black shorts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$95</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart"></i></a>

            </div>
            <div class="pro">
                <img src="Images/w27.avif" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>Adidas All over print shorts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$120</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart"></i></a>

            </div>
            <div class="pro">
                <img src="Images/w28.avif" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>White Jogger pants </h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$140</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart"></i></a>

            </div>
        </div>
    </section>
    <hr>
    <br>


    <!-- section5  -->
    <section id="product-5" class="section-p1">
        <h2>FootWear</h2>
        <p>Women's Collection Today</p>
        <div class="pro-container">
            <div class="pro">
                <img src="Images/w34.avif" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>Home kit long socks</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$5</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart" ></i></a>

            </div>

            <div class="pro">
                <img src="Images/w35.avif" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>Black Red sock collection</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$10</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart"></i></a>

            </div>
            <div class="pro">
                <img src="Images/w36.avif" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>Adidas Avryn Trainers</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart"></i></a>

            </div>
            <div class="pro">
                <img src="Images/f6.avif" alt="error loading the image">
                <div class="des">

                    <span>adidas</span>
                    <h5>Man utd Mule slippers</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$20</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart"></i></a>

            </div>
           

        </div>
    </section>
<hr>
<br>

<!-- section6 -->
<section id="product-6" class="section-p1">
    <h2>Headwear</h2>
    <p>Women's Collection Today</p>
    <div class="pro-container">
        <div class="pro">
            <img src="Images/w50.avif" alt="error loading the image">
            <div class="des">

                <span>adidas</span>
                <h5>New Era Love Bucket Hat</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$5</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>

        </div>
        <div class="pro">
            <img src="Images/w51.avif" alt="error loading the image">
            <div class="des">

                <span>adidas</span>
                <h5> Black Pom Beani hat</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$10</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>

        </div>
        <div class="pro">
            <img src="Images/w52.avif" alt="error loading the image">
            <div class="des">

                <span>adidas</span>
                <h5>Grey Beani hat</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$120</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>

        </div>
        <div class="pro">
            <img src="Images/w53.avif" alt="error loading the image">
            <div class="des">

                <span>adidas</span>
                <h5>Engineered beani hat</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$20</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>

        </div>
      

    </div>
</section>



<%- include('../partials/footer') %>

</body>
</html>